
*.pyc
__pycache__/

.vscode/
build/
dist/
*.egg-info/

.pytest_cache/
.ruff_cache/

# Sphinx
docs/build/
docs/source/api/_autosummary/

pyrightconfig.json
old/

# Example files

example/*/*.xlsx
example/*/*.json
example/*/*.log

example/*/Calculation
example/*/Runfiles
example/*/_*
